<!doctype html>
<html>
    <head>
        <title>HourSpace</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href = "bootstrap/css/bootstrap-xxs.css">
        <link rel="stylesheet" href = "css/reboot.css">
        <link rel="stylesheet" href = "css/global.css">
        <link rel="stylesheet" href = "css/result.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Prompt:100,200,300,400,500,600,700,800,900&amp;subset=thai" rel="stylesheet">
        <link href="https://file.myfontastic.com/G8KRYFNq9QatpXE9t32usG/icons.css" rel="stylesheet">
    </head>
    <body>
        <div class="landing-header-wrapper">
            <div class="container-fluid landing-header">
                <div class="header-logo">
                    <a href="#" class="header-logo-block no-decor">
                    </a>
                </div>
                <div class="register-btn">
                    Register
                </div>
                <div class="login-btn">
                    Login
                </div>
                <div class="header-content">
                    <div class="container">
                        <div class="header-search col-xs-12">
                            <div class="input-group">
                              <form action="/result" method="POST">
                                <div class="header-select form-control rounded-form-control">
                                    <div class="header-search-label small">Where</div>
                                    <select name="location">
                                      <% for (var i = 0; i < locations.length; i++) {%>
                                        <option value="<%= locations[i].location_name %>"><%= locations[i].location_name %></option>
                                      <% } %>
                                    </select>
                                </div>
                                <div class="header-select form-control rounded-form-control">
                                    <div class="header-search-label small">When</div>
                                    <input type="date" name="date">
                                </div>
                                <div class="header-select form-control rounded-form-control">
                                    <div class="header-search-label small">For What</div>
                                    <select name="purpose">
                                      <% for (var i = 0; i < categories.length; i++) {%>
                                        <option value="<%= categories[i].name %>"><%= categories[i].name %></option>
                                      <% } %>
                                    </select>
                                </div>
                                <div class="header-select header-people form-control rounded-form-control">
                                    <div class="header-search-label small">People</div>
                                    <select name="people">
                                      <% for (var i = 1; i <= 10; i++) {%>
                                        <option value=<%= i %>><%= i %></option>
                                      <% } %>
                                    </select>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="searchbtn"  data-toggle="modal" data-target="#locmodal">Search</button>
                                </span>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-space">
            <div class="container space-sec">
              <% for (var i = 0; i < spaces.length; i++) {%>
                <a href="/spaces/<%= spaces[i].id %>" class="space-anchor no-decor" data-space=1>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="space-block">
                            <div class="block-img col-xs-12">
                                <div class="block-img-inner" style="background-image: url('images/spaces/<%= spaces[i].id %>/1.jpg');">
                                </div>
                            </div>
                            <div class="block-text col-xs-12">
                                <h4><%= spaces[i].name %></h4>
                                <div class="block-location"><span class="icon icon-pin" aria-hidden="true"></span><%= spaces[i].location_name %></div>
                                <div class="block-buttom clearfix">
                                    <div class="block-butt-left">
                                        <div class="block-tag"><%= spaces[i].category %></div>
                                        <div class="block-tag">Powernap</div>
                                        <div class="block-tag">Powernap</div>
                                    </div>
                                    <div class="block-butt-right">
                                        <div class="block-price"><span>฿100</span>/hr</div>
                                        <div class="block-btn btn btn-primary">Book</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
              <% } %>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/landing.js"></script>
    </body>
</html>
