<!doctype html>
<html>
    <head>
        <title>HourSpace</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href = "bootstrap/css/bootstrap-xxs.css">
        <link rel="stylesheet" href = "css/reboot.css">
        <link rel="stylesheet" href = "css/global.css">
        <link rel="stylesheet" href = "css/result.css">
        <link rel="stylesheet" href = "css/datepicker.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Prompt:100,200,300,400,500,600,700,800,900&amp;subset=thai" rel="stylesheet">
        <link href="https://file.myfontastic.com/G8KRYFNq9QatpXE9t32usG/icons.css" rel="stylesheet">
    </head>
    <body>
        <div class="landing-header-wrapper">
            <div class="container-fluid landing-header">
                <div class="header-logo">
                    <a href="/" class="header-logo-block no-decor">
                    </a>
                </div>
                <a href="#"><div class="register-btn">
                    Register
                </div></a>
                <a href="#"><div class="login-btn">
                    Login
                </div></a>
                <a class="create-btn btn-primary btn" href="/bussiness">
                    <span class="small">List Your space</span>
                </a>
                <div class="header-content">
                    <div class="container">
                        <div class="header-search col-xs-12">
                          <form id="search_space_form" action="/result" method="POST">
                            <div class="input-group">
                                <div class="header-select form-control rounded-form-control">
                                    <div class="header-search-label small">Where</div>
                                    <select name="location">
                                      <% for (var i = 0; i < locations.length; i++) {%>
                                        <option value="<%= locations[i].location_name %>"><%= locations[i].location_name %></option>
                                      <% } %>
                                    </select>
                                </div>
                                <div class="header-select form-control rounded-form-control">
                                    <div class="header-search-label small">When</div>
                                    <input  type='text' class="form-control" name="date" id="dpd1" placeholder="Date">
                                </div>
                                <div class="header-select form-control rounded-form-control">
                                    <div class="header-search-label small">For What</div>
                                    <select name="purpose">
                                      <% for (var i = 0; i < categories.length; i++) {%>
                                        <option value="<%= categories[i].name %>"><%= categories[i].name %></option>
                                      <% } %>
                                    </select>
                                </div>
                                <div class="header-select header-people form-control rounded-form-control">
                                    <div class="header-search-label small">People</div>
                                    <select name="people">
                                      <% for (var i = 1; i <= 10; i++) {%>
                                        <option value=<%= i %>><%= i %></option>
                                      <% } %>
                                    </select>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="searchbtn"  data-toggle="modal" data-target="#locmodal" onclick="search_space()">Search</button>
                                </span>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-space">
            <div class="container space-sec">
              <% for (var i = 0; i < spaces.length; i++) {%>
                <a href="/space?id=<%= spaces[i].id %>" class="space-anchor no-decor" data-space=1>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="space-block">
                            <div class="block-img col-xs-12">
                                <div class="block-img-inner" style="background-image: url('images/space/<%= spaces[i].id %>/1.jpg');">
                                </div>
                            </div>
                            <div class="block-text col-xs-12">
                                <h4 class="space-title"><%= spaces[i].name %></h4>
                                <div class="block-location"><span class="icon icon-pin" aria-hidden="true"></span><%= spaces[i].location_name %></div>
                                <div class="block-buttom clearfix">
                                    <div class="block-butt-left">
                                        <div class="block-tag"><%= spaces[i].category %></div>
                                    </div>
                                    <div class="block-butt-right">
                                        <div class="block-price"><span>฿<%= spaces[i].price %></span>/hr</div>
                                        <div class="block-btn btn btn-primary">Book</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
              <% } %>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datetimepicker.min.js"></script>
        <script>
            var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

var checkin = $('#dpd1').datepicker({
  onRender: function(date) {
    return date.valueOf() < now.valueOf() ? 'disabled' : '';
  }
}).on('changeDate', function(ev) {
  if (ev.date.valueOf() > checkout.date.valueOf()) {
    var newDate = new Date(ev.date)
    newDate.setDate(newDate.getDate() + 1);
    checkout.setValue(newDate);
  }
  checkin.hide();
  $('#dpd2')[0].focus();
}).data('datepicker');
var checkout = $('#dpd2').datepicker({
  onRender: function(date) {
    return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
  }
}).on('changeDate', function(ev) {
  checkout.hide();
}).data('datepicker');
function search_space(){
  var frm = document.getElementById("search_space_form");
  frm.submit();
}
        </script>
    </body>
</html>
